<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rev="made" href="mailto:tmasao@acm.org" />
<link rel="stylesheet" href="default.css" type="text/css" />
<title>JuNii2 Validator</title>
</head>
<body
<% if @data %>
onload="document.getElementById('form_option').style.display='block';document.getElementById('toggle_option').style.display='none'"
<% end %>
>
<div class="last-update">最終更新日: <%= last_modified.strftime '%Y年%m月%d日' %></div>
<h1>JuNii2 Validator</h1>
<div class="form">
<form action="<%=h request.script_name %>" method="get" name="url">
<input type="text" name="url" value="<%=h( @url || "http://" ) %>" size="70" />
<input type="submit" value="  Validate!  " /><br>
<div id="toggle_option">
<a href="#" onclick="document.getElementById('form_option').style.display='block';document.getElementById('toggle_option').style.display='none';">詳細設定 &raquo;</a>
</div>
<div id="form_option" style="display:none">
<label for="from">From (yyyy-mm-dd):</label>
<input type="text" name="from" value="<%=h @options[:from] %>" size="20"/>
<label for="until">Until (yyyy-mm-dd):</label>
<input type="text" name="until" value="<%=h @options[:until] %>" size="20"/><br>
<label for="set">Set:</label>
<input type="text" name="set" value="<%=h @options[:set] %>"/>
</div>
</form>
</div>
<div class="help-text">
<p>
OAI-PMHサーバが、<a href="http://www.nii.ac.jp/irp/archive/system/junii2.html">JuNii2メタデータ</a>に則ったXML形式を出力しているかを、XML Schemaにもとづいた、データの妥当性検証により確認します。
上記の入力欄に OAI-PMH サーバの「ベースURL」（baseURL）を入力してください。
<a href="<%=h help_url %>">→ 詳細・ヘルプ</a>
</p>
</div>
<% if not @data %>
<p>例:</p>
<ul>
<% [["http://repository.kulib.kyoto-u.ac.jp/dspace-oai/request","京都大学 KURENAI"],
    ["http://eprints.lib.hokudai.ac.jp/dspace-oai/request", "北海道大学 HUSCAP"],
    ["http://mitizane.ll.chiba-u.jp/cgi-bin/oai/oai2.0", "千葉大学 CURATOR"],
    ["http://koara.lib.keio.ac.jp/xoonips/modules/xoonips/oai.php", "慶応大学 KOARA"],
    ["http://petit.lib.yamaguchi-u.ac.jp/infolib/oai_repository/repository", "山口大学 YUNOCA"],
    ["http://tsukuba.repo.nii.ac.jp/oai", "筑波大学 Tulips-R"],
    ["http://www.lib.kobe-u.ac.jp/infolib/oai_repository/pmh/G0000003-repository", "神戸大学 Kernel"],
    ["http://api.lib.kyushu-u.ac.jp/opac/mmd_api/oai-pmh/", "九州大学 QIR"],
   ].each do |url, label| %>
  <li><a href="?url=<%=h url %>"><%=h label %></a>
      <span class="recent"><a href="?url=<%=h url %>&amp;from=<%=h (Date.today-30).to_s %>">（直近一ヶ月分をチェック）</a>
<% end %>
</ul>
<ul>
  <li><a href="http://drf.lib.hokudai.ac.jp/drf/index.php?%E5%8F%82%E5%8A%A0%E6%A9%9F%E9%96%A2%E4%B8%80%E8%A6%A7">DRF 参加機関一覧</a>
  <li><a href="http://www.opendoar.org/find.php?cID=108">OpenDOAR: Country (Japan)</a>
</ul>
<% else %>
<div id="message">
<% if @data[ :error ].empty? and @data[ :warn ].empty? %>
<p id="success">
成功!!
OAI-PMHを通じて取得したレコードに問題は見つかりませんでした。
</p>
<% end %>
<% [ :info, :error, :warn ].each do |k| %>
<% next if @data[ k ].empty? %>
<div id="<%=h k %>">
<h2><%=h k.to_s.capitalize %> : <%=h @data[ k ].size %></h2>
<ol>
<% @data[ k ].each do |e| %>
  <% if e.kind_of?( Hash ) %>
  <li><%=h e[ :message ] %>
      <% if e[ :error_id ] %>
      <a href="<%=h help_url %>#<%=h e[:error_id ] %>" title="これはなに？">[#<%=h e[:error_id ] %>?]</a>
      <% end %>
      <% if e[ :link ] == :ListMetadataFormats %>
      <br>at <a href="<%=h @validator.baseurl %>?verb=ListMetadataFormats">ListMetadataFormats</a>
      <% elsif e[ :link ] == :ListRecords %>
      <br>at <a href="<%=h @validator.baseurl %>?verb=ListRecords&amp;metadataPrefix=junii2<%= "&" + @options.map{|k,v| "#{k}=#{ CGI.escape v }" }.join("&") if not @options.empty? %>">ListRecords</a>
      <% elsif e[ :identifier ] %>
      <br>for <a href="<%=h @validator.baseurl %>?verb=GetRecord&amp;identifier=<%=h e[ :identifier ] %>&amp;metadataPrefix=junii2"><%=h e[ :identifier ] %></a>
      <% end %>
  <% else %>
  <li><%=h e %>
  <% end %>
<% end %>
</ol>
</div>
<% end %>
<% end %>
<% if @data and @data[ :next_token ] %>
<p class="next_token">
<a href="?url=<%=h @validator.baseurl %>&amp;resumptionToken=<%=h @data[ :next_token ] %>">続きのレコードをチェックする</a>
</p>
<% end %>
<hr />
<div id="footer">
<address>高久雅生 (Masao Takaku)<br />
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-389547-7', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
